*
{
	color: black;
}

html, body
{
	height: 100%;
}

html
{
	display: table;
	margin: auto;
	background-image: url(http://img.wallpaperfolder.com/f/5DDA93A7413E/kansas-logo-ncaa-basketball-free.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

body
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
	letter-spacing: 1px;
	background: none;
}

#welcome, .jumbotron, #id_form, .form-group
{
	background: none;
}

span
{
	font-size: 1.5em;
}

#welcome, #highscore_container, #quiz_form, #scoreboard, #userFeedback_container
{
	background-color: white;
	opacity: .75;
	border-radius: 2em;
}

#btn-submit, #btn_new
{
	opacity: 1;
	margin-bottom: 1em;
}

.answer
{
	margin-left: 0.5em;
}

#content, #highscore_container
{
	text-align: left;
}

#scoreboard
{
	padding: 0;
}

#Questions
{
	padding-bottom: 1em;
	margin-bottom: 0;
}

.jumbotron h1
{
	color: black;
}

#welcome
{
	padding: 2em;
}

#firstname_input, #lastname_input
{
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
